
body {
    background-color: #2d2d38;
}

.bg-dark-800 {
    background-color: #1b1b29 !important;
}

.inherent-button {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

/* FORM */

.form-control-solid {
    background-color: #1e1e2d;
    border-color: #f5f8fa;
    color: #5e6278;
    box-shadow: none !important;
    transition: color 0.2s ease;
}

.form-control.form-control-solid, .form-control.form-control-solid:active, .form-control.form-control-solid.active, .form-control.form-control-solid:focus, .form-control.form-control-solid.focus {
    background-color: #1f1f2f;
    border-color: #1f1f2f;
    color: #5e6278;
    transition: color 0.2s ease;
}

.input-group-solid .input-group-text {
    background-color: #1e1e2d;
    border-color: #1e1e2d;
}

.input-group-solid .input-group-text + .form-control {
    border-left-color: #e4e6ef;
}

.input-group.input-group-solid .input-group-text {
    background-color: #1b1b29;
    border-color: #1b1b29;
}

.input-group.input-group-solid .form-control {
    background-color: #1b1b29;
    border-color: #1b1b29;
}

.input-group-solid .form-control {
    background-color: #1e1e2d;
    border-color: #1e1e2d;
    box-shadow: none;
}

.input-group-solid .form-control, .input-group-solid .form-control:active, .input-group-solid .form-control.active, .input-group-solid .form-control:focus, .input-group-solid .form-control.focus {
    background-color: #1f1f2f;
    border-color: #1f1f2f;
    color: #5e6278;
    transition: color 0.2s ease;
}

.input-group.input-group-solid-600 .form-control {
    background-color: #2d2d38;

}

.input-group-solid-600 .form-control {
    background-color: #2d2d38;
}

.input-group-solid-600 .form-control, .input-group-solid-600 .form-control:active, .input-group-solid-600 .form-control.active, .input-group-solid-600 .form-control:focus, .input-group-solid-600 .form-control.focus {
    background-color: #2d2d38;
    border-color: #2d2d38;
    color: #CDCDDE;
    transition: color 0.2s ease;
}

.input-group.input-group-solid-600 .input-group-text {
    background-color: #2d2d38;
    border-color: #2d2d38;
}

.input-group-solid-600 .input-group-text + .form-control {
    border-left-color: #1e1e2d;
}

.input-group.input-group-solid-600 .form-control {
     border-color: transparent;
}

/* Sizing */

.h-54 {
    height: 53px;
}

.w-571 {
    width: 571px;
}

.rounded-circle-20 {
    border-radius: 40px;
}


/* TEXT */
.text-gray-600 {
    color: #6D6D80;
}

.text-gray-800 {
    color: #CDCDDE;
}

.border-800 {
    --bs-border-opacity: 1;
    border-color: #1b1b29 !important;
}

.pt-lg-6 {
    padding-top: 5.2rem !important;
}

.menu, .menu-wrapper {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu-gray-600 .menu-item .menu-link {
    color: #6d6d80;
}

.menu-item .menu-link {
    cursor: pointer;
    display: flex;
    align-items: center;
    flex: 0 0 100%;
    padding: 0.65rem 1rem;
    transition: none;
    outline: none !important;
    text-decoration: none;
}

/* Button style */

.btn.btn-secondary {
    color: #cdcdde;
    border-color: #323248;
    background-color: #323248;
}

/* Select */

.form-select.form-select-solid {
    background-color: #1b1b29;
    border-color: #1b1b29;
    color: #92929f;
    transition: color 0.2s ease;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%236D6D80' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

/* Override card */


.card {
    background-color: #1e1e2d;
}

/* tabs */

.nav-line-tabs {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
}

.nav-tabs {
    --bs-nav-tabs-border-color: #2b2b40;
    --bs-nav-tabs-link-hover-border-color: #2B2B40 #2B2B40 #2B2B40;
    --bs-nav-tabs-link-active-color: #92929f;
    --bs-nav-tabs-link-active-bg: #1e1e2d;
    --bs-nav-tabs-link-active-border-color: #323248 #323248 #1e1e2d;
}

.nav-line-tabs .nav-item .nav-link.active, .nav-line-tabs .nav-item.show .nav-link, .nav-line-tabs .nav-item .nav-link:hover:not(.disabled) {
    background-color: #1b1b29;
    border: 0;
    border-bottom: none;
    transition: color 0.2s ease;
}

.nav-line-tabs .nav-item .nav-link.active, .nav-line-tabs .nav-item.show .nav-link, .nav-line-tabs .nav-item .nav-link:hover {
    background-color: #CDCDDE !important;
    border: 0;
    border-bottom: none;
    transition: color 0.2s ease;
    border-radius: 20px;
}

.nav-line-tabs .nav-item:first-child .nav-link {
    margin-left: 0;
}
.nav-line-tabs .nav-item .nav-link {
    color: #565674;
    border: 0;
    border-bottom: 1px solid transparent;
    transition: color 0.2s ease;
    margin: 0 1rem;
}


/* Card */

.card .card-header .card-toolbar {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    flex-wrap: wrap;
}

.card .card-header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

/* A decoration  */

.a-text-none {
    text-decoration: none;
}